* {
  margin: 0px;
  box-sizing: border-box;
}
.jewellery-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #000000;
}

.products-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  min-height: 90%;
  margin-top: 10px auto;
  justify-content: flex-start;
}

.loader-container {
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  background-color: #000000;
}
@media screen and (max-width: 768px) {
  .products-container {
    margin-top: 10px;
  }
}
